<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.shoppingmall.app.mapper.AddressMapper">

    <select id="selectDefaultAddress" parameterType="Long" resultType="address">
      SELECT a.member_id   as memberId,
             a.road_name   as roadName,
             a.addr_detail as addrDetail,
             a.zip_code    as zipCode,
             a.is_default  as isDefault
      FROM address as a
      WHERE a.member_id = #{id}
        and a.is_default == true
    </select>
      <select id="selectSubAddress" parameterType="Long" resultType="address">
      SELECT a.member_id   as memberId,
             a.road_name   as roadName,
             a.addr_detail as addrDetail,
             a.zip_code    as zipCode,
             a.is_default  as isDefault
      FROM address as a
      WHERE a.member_id = #{id} and a.is_default == false
    </select>
    <select id="selectAll" resultType="address">
      SELECT a.member_id   as memberId,
             a.road_name   as roadName,
             a.addr_detail as addrDetail,
             a.zip_code    as zipCode,
             a.is_default  as isDefault
      FROM address as a
    </select>
    <insert id="insert" parameterType="address" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO address (member_id, is_default, road_name, addr_detail, zip_code)
        VALUES (#{memberId}, #{isDefault}, #{roadName}, #{addrDetail}, #{zipCode})
    </insert>
    <update id="update" parameterType="address">
        UPDATE address
        SET member_id = #{memberId},
        is_default = #{isDefault},
        road_name = #{roadName},
        addr_detail = #{addrDetail},
        zip_code = #{zipCode}
        WHERE id = #{id}
    </update>
    <delete id="delete" parameterType="Long">
        DELETE
        FROM address
        WHERE id = #{id}
    </delete>

</mapper>






