<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.shoppingmall.app.mapper.CartMapper">

  <delete id="delete" parameterType="com.bit.shoppingmall.app.entity.ProductAndMemberCompositeKey">
    DELETE
    FROM cart
    WHERE member_id = #{memberId}
    and product_id = #{productId}
  </delete>

  <delete id="bulkDelete"
    parameterType="com.bit.shoppingmall.app.entity.ProductAndMemberCompositeKey">
    DELETE FROM cart
    WHERE (member_id, product_id) IN
    <foreach close=")" collection="list" item="productAndMemberCompositeKey" open="(" separator=",">
      (#{productAndMemberCompositeKey.memberId}, #{productAndMemberCompositeKey.productId})
    </foreach>
  </delete>


  <insert id="insert" parameterType="cart">
    INSERT INTO cart (member_id, product_id, product_quantity)
    VALUES (#{memberId}, #{productId}, #{productQuantity})
  </insert>

  <resultMap id="cart" type="com.bit.shoppingmall.app.entity.Cart">
    <result column="member_id" javaType="Long" jdbcType="BIGINT" property="memberId"/>
    <result column="product_id" javaType="Long" jdbcType="BIGINT" property="productId"/>
    <result column="product_quantity" javaType="Long" jdbcType="BIGINT"
      property="productQuantity"/>
  </resultMap>
  <resultMap id="CartAndProductResultMap"
    type="com.bit.shoppingmall.app.dto.cart.CartAndProductDto">
    <id column="id" property="productId"/>
    <result column="product_quantity" property="cartProductQuantity"/>
    <result column="category_id" property="categoryId"/>
    <result column="name" property="name"/>
    <result column="description" property="description"/>
    <result column="price" property="price"/>
    <result column="quantity" property="productQuantity"/>
    <result column="code" property="code"/>
    <result column="created_at" property="createdAt"/>
    <result column="updated_at" property="updatedAt"/>
  </resultMap>
  <select id="getCartTotalPage" parameterType="Long" resultType="Long">
    SELECT CEIL(COUNT(*) / 10)
    FROM cart
    WHERE member_id = #{memberId}
  </select>
  <select id="select" parameterType="com.bit.shoppingmall.app.entity.ProductAndMemberCompositeKey"
    resultMap="cart">
    SELECT *
    FROM cart
    WHERE member_id = #{memberId}
    and product_id = #{productId}
  </select>
  <select id="selectAllByMember" parameterType="Long" resultMap="cart">
    SELECT *
    FROM cart
    WHERE member_id = #{memberId}
  </select>
  <select id="selectAllCartAndProductByMember" parameterType="Long"
    resultMap="CartAndProductResultMap">
    SELECT cart.product_quantity, product.*
    FROM cart
    INNER JOIN product ON cart.product_id = product.id
    WHERE member_id = #{memberId}
  </select>
  <select id="selectAll" resultMap="cart">
    SELECT *
    FROM cart
  </select>
  <update id="update" parameterType="com.bit.shoppingmall.app.entity.ProductAndMemberCompositeKey">
    UPDATE cart
    SET product_quantity = #{productQuantity}
    WHERE product_id = #{productId}
  </update>

</mapper>






